<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Bootstrap Theme The Band</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="commonStyle.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


 <script src="..\\script.js"></script>
 <style type="text/css">
   #map {
width: 500px;
  height: 500px;
}

 </style>
</head>

<body id="dperson">

<div class="container" >
  <div class="jumbotron" >
    <div class ="company">
    <img src="logo.jpg" class="img-circle" alt="Auto Ship logo" width=auto height="80">

    <span >Auto Ship</span> 
   </div>
  </div>
  </div>
<nav class="navbar navbar-default" data-spy="affix" data-offset-top="60" style="opacity:  1">
  <div class="container-fluid">
    <div class="navbar-header">
      <h3 >Delivey person</h3>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right links">
        <li ><a href="dperson.html">My Profile</a></li>
        <li onclick="logout()">
         <a href="#" class="btn btn-info btn-lg" >
          <span class="glyphicon glyphicon-log-out"></span> Log out
        </a></li>
        </div>
  </div>
</nav>

<div class="tabs"  >
<ul class="nav nav-pills nav-stacked" >
  <li><a href="allOrders.html" >All Orders</a></li>
  <li><a href="Deliveryperson.html"  class="active">Show Route</a></li>

</ul>
</div>
<div class="data " style="padding-top: 0px">
<div class="container" >
    <div class="col-md-6 col-md-offset-3">

        <!-- Search Form -->
        <form role="form">
        
        <!-- Search Field -->
            <div class="row">
                <h1 class="text-center">Search Region</h1>
                <div class="form-group">
                    <div class="input-group">
                        <input id="myInput" onkeyup="myFunction()" class="form-control" type="text" name="search" placeholder="Search" required/>
                        <span class="input-group-btn">
                            <button class="btn btn-success" type="button" onclick="myFunction()"><span class="glyphicon glyphicon-search" aria-hidden="true"><span style="margin-left:10px;">Search</span></button>
                        </span>
                        </span>
                    </div>
                </div>
            </div>
            
        </form>
        <!-- End of Search Form -->
            
    </div>
</div>


<div class="container" style="display: inline" >
<div class="container">

 <table id="myTable" class="table table-bordered table-hover table-striped col-sm-3">
    <thead>
      <tr>
        <th>Order ID</th>
        <th>Order Name</th>
        <th>Price</th>
        <th>Region</th>
        <th>location</th>
        <th>Due Date</th>
        <th>Delivery Status</th>
     
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>123456</td>
        <td>bader killas</td>
        <td>102</td>
        <td>Lake Site</td>
        <td>500 E Johar Town, Lahore</td>
        <td>12 September</td>
        <td><select>
<option value="Delivered">Delivered</option>
<option value="Not Shipped">Not Delivered</option>
</select></td>

      </tr>
      <tr>
        <td>435465</td>
        <td>yoyo sig</td>
        <td>87</td>
        <td>Park Lane</td>
        <td>Fortress Stadium, Lahore</td>
        <td>22 October 1993</td>
     <td><select>
<option value="Delivered">Delivered</option>
<option value="Not Shipped">Not Delivered</option>
</select></td>

     
        </tr>
     
               <tr>
        
        <td>32168684</td>
        <td>putter tos</td>
        <td>988</td>
        <td>Pall Maler</td>
        <td>Lahore Airport</td>
        <td>30 April 1998</td>
     <td><select>
<option value="Delivered">Delivered</option>
<option value="Not Shipped">Not Delivered</option>
</select></td>

     
      
    
    </tbody>
  </table>
</div>

 
 <div class="form-group" >
      <div class="col-sm-offset-3 col-sm-12 btn-group-lg">
        <button type="submit" class="btn btn-info" style= "position: fixed; margin-left:700px ">Save</button>
      </div>
      </div> 
 
<div id="map" class="text-center">
  
</div>
<!-- Replace the value of the key parameter with your own API key. -->

<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJqaq26iBTe0L1yJEdOrE6KH3gXxRLu9Q&callback=initMap">
    </script>


    <script>
function myFunction() {

  var input, filter, table, tr, td, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[3];
    if (td) {
      if (td.innerHTML.toUpperCase() == filter ||  filter == "") {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
  initMap();
}



function initMap() {
 
  var directionsService = new google.maps.DirectionsService;
  var directionsDisplay = new google.maps.DirectionsRenderer;
  var map = new google.maps.Map(document.getElementById("map"), {
    zoom: 7,
    center: {lat: 41.85, lng: -87.65}
  });
  directionsDisplay.setMap(map);

    calculateAndDisplayRoute(directionsService, directionsDisplay);
 
}

function calculateAndDisplayRoute(directionsService, directionsDisplay) {
 
var myRows = [];
var $headers = $("th");
var $rows = $("tbody tr").each(function(index) {
  if($(this).is(":visible"))
  {

    $cells = $(this).find("td");
    //myRows[index] = {};
    $cells.each(function(cellIndex) {
    if ($($headers[cellIndex]).html() == "location" ) {
      var x = $(this).html();
      myRows.push({
                location: x,
                stopover: true
              });

      }
    
    });
  }    
});

//alert (myRows);


  directionsService.route({
origin: 'Model Town, Lahore',
  destination: 'B Blcok Faisal town, Lahore',
waypoints: myRows,
  /*
 waypoints: [
    {
      location: 'Fotress Stadium, Lahore',
    //  stopover: true
    },{
      location: 'B block Faisal Town, Lahore',
   //   stopover: true
    }],
    */
  provideRouteAlternatives: false,
    travelMode: 'DRIVING'
  }, function(response, status) {
    if (status === 'OK') {
      directionsDisplay.setDirections(response);
    } else {
      alert('Directions request failed due to ' + status);
    }
  });
}

</script>
</body>
</html>


