
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <title>AutoShip - Login</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="LoginStyle.css">

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		       
			   <script src="Resource/jquery-3.1.1.min.js" type="text/javascript"></script>
		        <script src="BootStrap/js/bootstrap.js" type="text/javascript"></script>
		        <script src="BootStrap/js/bootstrap.min.js" type="text/javascript"></script>
		        
	</head>

	<body>
  
		<div class="container" >
		  	<div class="jumbotron" >
		    	<div class ="company">
		    		<img src="logo.jpg" class="img-circle" alt="Auto Ship logo" width=auto height="80">

				    <span >Auto Ship</span> 
				</div>
		  	</div>
	  	</div>
		  
		<div class="background-image">
		</div>

  		<div class="LoginContent">
	      	<div class="container" style="padding-top: 75px">
	            <div class="row">
					<div class="col-md-6 col-md-offset-3">
	                    <div class="panel panel-login">
							<div class="panel-heading">
				    			<div class="row">
				        			<div class="col-xs-12 ">
						    			<a href="#" class="active " id="login-form-link">Forgot Password!</a>
									</div>
								</div>
	                        	<hr>
			    			</div>
                    		
                    		<div class="panel-body">
								<div class="row">
								    <div class="col-lg-12">

										<form id="login-form" action="ForgotPassword.php" method="post" role="form" style="display: block;">
										    <div class="form-group">
						                        <input type="email" name="email" id="email" tabindex="1" class="form-control" placeholder="Email ID" required />
									        </div>
											
											
											
											<div class="form-group">
										    	<div class="row">
										    	    <div class="col-sm-6 col-sm-offset-3">
													    <input type="submit" name="forgotpassword-submit" id="forgotpassword-submit" tabindex="4" class="form-control btn btn-login" value="Forgot Password" />
													</div>
										    	</div>
											</div>
										
											
						                </form>
					                </div>
								</div>
	            			</div>
						</div>
	    			</div>
				</div>
			</div>
		</div>
</body>
</html>
