<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Bootstrap Theme The Band</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="commonStyle.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<script src="..\\script.js"></script>

</head>
<body id="manager">

<div class="container" >
  <div class="jumbotron" >
    <div class ="company">
    <img src="logo.jpg" class="img-circle" alt="Auto Ship logo" width=auto height="80">

    <span >Auto Ship</span> 
   </div>
  </div>
  </div>
<nav class="navbar navbar-default" data-spy="affix" data-offset-top="60" >
  <div class="container-fluid">
    <div class="navbar-header">
      <h3 >Package Manager</h3>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right links">
        <li ><a href="pmanager.html">My Profile</a></li>
        <li onclick="logout()">
         <a href="#" class="btn btn-info btn-lg" >
          <span class="glyphicon glyphicon-log-out"></span> Log out
        </a></li>
        </div>
  </div>
</nav>

<div class="tabs"  >
<ul class="nav nav-pills nav-stacked" >
    <li><a href="GenerateTags.html">Generate tags</a></li>
  <li><a href="allOrders.html">All Orders</a></li>

</ul>
</div>






<div class="data">

<div class="container">
 
  <form class="form-horizontal">
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Current Password:</label>
      <div class="col-sm-4">
      <input type="Password" class="form-control"  id="current_password" placeholder="Enter Current Password" required>
      </div>
    </div>

   <div class="form-group">
      <label class="control-label col-sm-2" for="npwd">New Password:</label>
      <div class="col-sm-4">
    <input type="password" class="form-control" id="new_password1" placeholder="Enter New Password" required>
      </div>
    </div>
    
   <div class="form-group">
      <label class="control-label col-sm-2" for="Rnpwd">Re-Enter Password:</label>
      <div class="col-sm-4">
    <input type="password" class="form-control" id="new_password2" placeholder="Re-Enter New Password" required>
      </div>
    </div>
 <div class="form-group">
      <div class="col-sm-offset-3 col-sm-12 btn-group-lg">
       <button type="button" class="btn btn-info" onclick="change_password()">Save</button>
      </div>
      </div>




  </form>
</div>  

    </div>  
</body>
</html>

